<div class="container">
  <h1 class="pt-5 text-center">Search for kind-friendly places around you!</h1>

  <div class="container my-3 ">
    <%= form_tag places_path, method: :get do %>
      <div class="row", style="display:flex; justify-content: space-between; align-items:flex-end">
        <div class="col-12 col-md-3">
          <div class="mx-3">
            <!-- <p style="font-weight: 500">Address</p> -->
            <%= text_field_tag :addr,
              params[:addr],
              class: "form-control",
              id: "address",
              style: "height: 48px; width: 400px;",
              placeholder: "Address"
            %>
          </div>
        </div>

        <div class="col-12 col-md-3">
            <%= submit_tag 'Search',
              class: "searchbutton-navbar button-yellow btn btn-primary mr-3",
              style: "height: 48px; border-radius: 4px;"%>
        </div>
      </div>
    <% end %>
  </div>

</div>

<div
  id="map"
  style="width: 100%;
  height: 550px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
